/* Reset default styles */
body, ul, li {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  p {
    text-transform: uppercase;
  }
  @keyframes textAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  h3 {
    animation: textAnimation 3s infinite;
  }
      
  
  /* Global styles */
  body {
    font-family: "Comic Sans MS", cursive;
    line-height: 1.5;
    background-color: #f2f2f2;
  }
  
  header, nav {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .hero {
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    animation-name: btnPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes btnPulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .feature {
    text-align: center;
    margin: 20px;
    flex-basis: calc(33.33% - 40px);
    max-width: 300px;
  }
  
  .feature img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  .feature-spacious .feature-img {
    width: 290px; /* Adjust the width value as desired */
    height: 190px;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  